*{
    margin: 0;
	padding: 0;
	border: 0;
}
body{
    background-color: #f0f2f1;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}
.header{
    background-color: #3b5d51 ;
    padding-left: 7vh;
    height: 45vh;
}
.navbar{
    display: flex;
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-right: 5vh;
}
ul{
    display: flex;
    list-style: none;
}
.navbar-icons{
    /* margin-left: 2rem; */
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-icon{
    height: 3vh;
}
.navbar-icon:first-child{
    margin-right: 5vh;
}
.navbar-title{
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4vh;
    display: flex;
}
.navbar-nav-items{
    margin-left: auto;
}
.navbar-nav-item{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 2vh;
    font-weight: 500;
    color: #9eaea8;
}
.navbar-nav-item:last-child{
    margin-right: 10vh;
}

.navbar-nav-item-active{
    color: #ffffff;
}

.navbar-title-dot{
    color: #9eaea8;
}

.header-main-left{
    padding-top: 12vh;
    /* width: 50rem; */
}

.header-main-title{
    font-size: 5vh;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}


.footer{
    margin-top: 20vh;
    padding-left: 7vh;
    padding-right: 6vh;
    padding-top: 6vh;
    background-color: #ffffff;
}
.footer-header{
    display: flex;
    height: 20vh;
}

.footer-form-title{
    color: #3b5d51;
    font-size: 3vh;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0.4vh;
}

.footer-form-card-top{
    display: flex;
    padding-bottom: 3vh;
}

.footer-form-img{
    height: 3.5vh;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-form-input{
    padding: 2vh 3.5vh;
    border-radius: 1vh;
    margin-right: 2vh;
    background-color: none;
    border: solid 1px #6a6a6a;
    font-size: 1.7vh;
    font-weight: 500;
    text-align: left;
}

.footer-form-submit{
    background-color: #3b5d51;
    padding: .9vh;
    border-radius: 1vh;
    font-size: 3vh;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-form-card-img{
    height: 40vh;
    width: auto;
    margin-left: auto;
    transform: translateY(-22vh);
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
}

.footer-bottom-left{
    width: 30%;
}

.footer-bottom-title{
    color: #3b5d51;
    font-size: 4vh;
    font-weight: 800;
}

.footer-bottom-description{
    padding-top: 2vh;
    color: #6a6a6a;
    line-height: 2.7vh;
    font-size: 1.7vh;
    text-align: justify;
}

.footer-bottom-list{
    padding-top: 6.5vh;
    color: #2f2f2f;
    width: 12%;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 1.7vh;
    line-height: 3.5vh;
}

.copyright{
    margin-top: 14vh;
    display: flex;
    justify-content: space-between;
    border-top: solid 1.5px #7a7a7a;
    padding-bottom: 15vh;
}

.copyright-description{
    padding-top: 7vh;
    color: #6a6a6a;
    font-size: 1.5vh;
    font-weight: 400;
}

.copyright-description-name{
    color: #2f2f2f;
}

.copyright-description-link{
    padding-top: 7vh;
}

.copyright-link{
    color: #2f2f2f;
    font-size: 1.5vh;
    font-weight: 400;
}

.copyright-link:first-child{
    padding-right: 1vh;
}

.checkout{
    margin-left: 7vh;
    margin-right: 7vh;
    margin-top: 10vh;
}

.checkout-section{
 display: flex;
justify-content: space-between;
}

.details-area{
    width: 48%;
    color: #2f2f2f;
}

.returning-customer{
    color: #6a6a6a;
    font-size: 1.8vh;
    border: solid .6px #6a6a6a;
    border-radius: 0.4vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2vh;
    margin-bottom: 6vh;
}

.returning-customer-redirection{
    color: #2f2f2f;
    text-decoration: underline;
}

.details-area-title{
    font-size: 4vh;
    font-weight: 600;
    margin-bottom: 2vh;
}

.details-area-form{
    padding: 3vh 4vh;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4vh;
}

.company_name_div{
    grid-column: span 2;
}

.details-input{
    width: 100%;
    border: solid 0.6px #6a6a6a;
    padding: 1.6vh 0vh;
    border-radius: 1vh;
    margin: 2vh 0vh;
    color: #6a6a6a;
    font-size: 1.8vh;
    font-weight: 200;
    padding-left: 2vh;
}


.address_div{
    grid-column: span 2;
}

.input-area-checkbox{
    display: flex;
    grid-column: span 2;
    padding-bottom: 2vh;
}

.input-area-checkbox-title{
    margin-left: 1vh;
}

.diff-address{
    grid-column: span 2;
}

.input-new-account{
    grid-column: span 2;
    padding-left: 3vh;
    padding-right: 3vh;
}

.input-new-account-brief{
    color: #6a6a6a;
    font-size: 1.8vh;
    line-height: 2.7vh;
    font-weight: 300;
    margin-bottom: 2vh;
}

.input-new-account-title{
    font-size: 2.4vh;
    font-weight: 600;
    margin-bottom: 1vh;
}

.account-input{
    margin-bottom: 3vh;
}

.order-notes{
    grid-column: span 2;
}

.order-notes-title{
    font-size: 2vh;
}

.order-notes-input{
    text-align: left;
    justify-content: left;
}

.billing-area{
    width: 48%;
}

.coupon-code-title{
    font-size: 4vh;
    color: #2f2f2f;
    font-weight: 600;
    margin-bottom: 2vh;
}

.coupon-code-apply-area{
    background-color: #ffffff;
    color: #2f2f2f;
    padding: 6vh 5vh;
}

.coupon-code-brief{
    font-size: 2vh;
    font-weight: 400;
    margin-bottom: 2vh;
}

/* .coupon-code-input-area{
    display: flex;
} */

.coupon-code-input{
    width: 50%;
    border: solid 0.6px #6a6a6a;
    padding: 1.6vh 0vh;
    border-radius: 1vh;
    margin: 2vh 0vh;
    color: #6a6a6a;
    font-size: 1.8vh;
    font-weight: 200;
    padding-left: 2vh;
}

.coupon-code-apply-btn{
    background-color: #2f2f2f;
    color: #fff;
    font-size: 1.9vh;
    font-weight: 700;
    padding: 2vh 3vh;
    border-radius: 5vh;
    margin-left: 2vh;
}

.coupon-code-area{
    margin-bottom: 5vh;
}

.summary-title{
    font-size: 4vh;
    color: #2f2f2f;
    font-weight: 600;
    margin-bottom: 2vh;
}

.summary{
    background-color: #fff;
}

.cart-billing{
    grid-template-columns: 1fr 1fr;
    color: #2f2f2f;
}

/* .billing-link{
    grid-column: span 2;
} */

.cart-title{
    margin: 0vh 5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: 2.1vh;
    font-weight: 400;
    border-bottom: solid 1px lightgray;
}

.cart-title-main{
    font-weight: 700;
    border-bottom: solid 1.5px #7a7a7a ;
}

.cart-product-total{
    font-weight: 600;
}

.cart-product-total-amt-1{
    font-weight: 400;
}

.billing-link{
    color: #2f2f2f;
    margin: 3vh 5vh;
    padding: 2vh 2vh;
    border: solid 1px lightgray;
}

.billing-link-head{
    color: #2f2f2f;
    text-decoration: underline;

}

.place-order{
    background-color: #2f2f2f;
    color: #fff;
    font-size: 1.9vh;
    font-weight: 700;
    padding: 2vh 3vh;
    border-radius: 5vh;
    
}

.place-order-section{
    margin: 0vh 5vh;
    padding-top: 5vh;
    padding-bottom: 9vh;
}

.billing-link-popup{
    color: #6a6a6a;
    font-size: 1.9vh;
    line-height: 3vh;
    padding-top: 2vh;
}