* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #f0f2f1;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
.header {
  background-color: #3b5d51;
  padding-left: 7vh;
  height: 45vh;
}
.navbar {
  display: flex;
  padding-top: 3vh;
  padding-bottom: 2vh;
  padding-right: 5vh;
}
ul {
  display: flex;
  list-style: none;
}
.navbar-icons {
  /* margin-left: 2rem; */
  margin-top: auto;
  margin-bottom: auto;
}
.navbar-icon {
  height: 3vh;
}
.navbar-icon:first-child {
  margin-right: 5vh;
}
.navbar-title {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 4vh;
  display: flex;
}
.navbar-nav-items {
  margin-left: auto;
}
.navbar-nav-item {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 2vh;
  font-weight: 500;
  color: #9eaea8;
}
.navbar-nav-item:last-child {
  margin-right: 10vh;
}

.navbar-nav-item-active {
  color: #ffffff;
}

.navbar-title-dot {
  color: #9eaea8;
}

.header-main-left {
  padding-top: 12vh;
  /* width: 50rem; */
}

.header-main-title {
  font-size: 5vh;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: 20vh;
  padding-left: 7vh;
  padding-right: 6vh;
  padding-top: 6vh;
  background-color: #ffffff;
}
.footer-header {
  display: flex;
  height: 20vh;
}

.footer-form-title {
  color: #3b5d51;
  font-size: 3vh;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0.4vh;
}

.footer-form-card-top {
  display: flex;
  padding-bottom: 3vh;
}

.footer-form-img {
  height: 3.5vh;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-form-input {
  padding: 2vh 3.5vh;
  border-radius: 1vh;
  margin-right: 2vh;
  background-color: none;
  border: solid 1px #6a6a6a;
  font-size: 1.7vh;
  font-weight: 500;
  text-align: left;
}

.footer-form-submit {
  background-color: #3b5d51;
  padding: 0.9vh;
  border-radius: 1vh;
  font-size: 3vh;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-form-card-img {
  height: 40vh;
  width: auto;
  margin-left: auto;
  transform: translateY(-22vh);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-left {
  width: 30%;
}

.footer-bottom-title {
  color: #3b5d51;
  font-size: 4vh;
  font-weight: 800;
}

.footer-bottom-description {
  padding-top: 2vh;
  color: #6a6a6a;
  line-height: 2.7vh;
  font-size: 1.7vh;
  text-align: justify;
}

.footer-bottom-list {
  padding-top: 6.5vh;
  color: #2f2f2f;
  width: 12%;
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 1.7vh;
  line-height: 3.5vh;
}

.copyright {
  margin-top: 14vh;
  display: flex;
  justify-content: space-between;
  border-top: solid 1.5px #7a7a7a;
  padding-bottom: 15vh;
}

.copyright-description {
  padding-top: 7vh;
  color: #6a6a6a;
  font-size: 1.5vh;
  font-weight: 400;
}

.copyright-description-name {
  color: #2f2f2f;
}

.copyright-description-link {
  padding-top: 7vh;
}

.copyright-link {
  color: #2f2f2f;
  font-size: 1.5vh;
  font-weight: 400;
}

.copyright-link:first-child {
  padding-right: 1vh;
}

.shop {
  display: flex;
  margin: 10vh;
}

.product-card {
  width: 25%;
}

.product-img {
  width: 100%;
}

.product-title {
  color: #2f2f2f;
  font-size: 2vh;
  font-weight: 600;
  text-align: center;
  margin-top: 2vh;
}

.product-price {
  margin-top: 1vh;
  color: #2f2f2f;
  font-size: 2.3vh;
  font-weight: bolder;
  text-align: center;
}

.cart-component-head {
  color: #2f2f2f;
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  justify-content: space-between;
}

.cart {
  margin-left: 10vh;
  margin-right: 10vh;
}
.cart-component {
  padding-top: 10vh;
}

.cart-title {
  text-align: center;
  font-size: 2.5vh;
  font-weight: 600;
}

.cart-component:first-child {
  padding-bottom: 3vh;
  border-bottom: solid 2px #555;
  margin-bottom: 3vh;
}

.cart-items-head {
  color: #2f2f2f;
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  justify-content: space-between;
  padding-bottom: 3vh;
  margin-bottom: 3vh;
  border-bottom: solid 0.5px #7a7a7a;
}

.cart-item {
  margin: auto;
}

.cart-item-img {
  width: 70%;
}

.cart-item-quantity {
  display: flex;
  justify-content: space-between;
}

.quantity_change {
  width: 20%;
  text-align: center;
}

.quantity {
  width: 40%;
  padding: 1vh 2vh;
  background-color: #ffffff;
  /* justify-content: center; */
  margin-right: 2vh;
  margin-left: 2vh;
}

.cart-item-remove {
  color: #2f2f2f;
}

.checkout {
  margin-top: 12vh;
  display: flex;
  justify-content: space-between;
  margin-left: 10vh;
  margin-right: 10vh;
}

.checkout-cart {
  width: 60%;
}

.checkout-billing {
  width: 40%;
}

.checkout-cart-btns {
  background-color: #2f2f2f;
  color: #fff;
  font-size: 1.9vh;
  font-weight: 700;
  padding: 2vh 3vh;
  border-radius: 5vh;
  margin-right: 20vh;
}

.checkout-cart-btns-section {
  margin-bottom: 10vh;
  display: flex;
}

.checkout-cart-coupon-title {
  color: #2f2f2f;
  font-size: 3.5vh;
  font-weight: 500;
  margin-bottom: 2vh;
}

.checkout-cart-coupon-brief {
  color: #6a6a6a;
  font-size: 2vh;
  font-weight: 400;
  margin-bottom: 2vh;
}

.checkout-cart-coupon-input {
  padding: 2vh 12vh;
  border-radius: 1vh;
  border: solid 0.5px #555;
}

.checkout-cart-coupon-apply {
  background-color: #2f2f2f;
  color: #fff;
  font-size: 2.4vh;
  font-weight: 800;
  padding: 2vh 3vh;
  border-radius: 5vh;
  margin-left: 2vh;
}

.checkout-billing-title {
  text-transform: uppercase;
  margin-left: 25%;
  color: #2f2f2f;
  font-size: 4vh;
  border-bottom: solid 0.5px #7a7a7a;
  margin-bottom: 6vh;
}
.checkout-billing-total {
  margin-left: 25%;
  color: #2f2f2f;
  margin-bottom: 7vh;
}
.checkout-billing-list {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.checkout-billing-btn {
  background-color: #2f2f2f;
  color: #fff;
  font-size: 2.4vh;
  font-weight: 800;
  padding: 2vh 3vh;
  border-radius: 5vh;
  margin-left: 25%;
}

.thank {
  height: 70vh;
  color: #2f2f2f;
  display: flex;
}

.thank-main {
  margin: auto;
}

.thank-title {
  font-size: 8vh;
  font-weight: 300;
  text-align: center;
}

.thank-brief {
    margin-top: 4vh;
  color: #6a6a6a;
  font-size: 4vh;
  text-align: center;
  font-weight: 200;
  margin-bottom: 4vh;
}

.thank-btn-sec{
    display: flex;
    justify-content: center;
}

.thank-btn {
    background-color: #2f2f2f;
    color: #fff;
    font-size: 2.4vh;
    font-weight: 800;
    padding: 2vh 3vh;
    border-radius: 5vh;
  }
  
.thank-icon{
    font-size: 10vh;
    text-align: center;
}